* {
    margin: 0.1;
    background-color: antiquewhite;
    // background-image: url("../img/gree-tex.jpg");
    // background-size: cover;
    // background-repeat: no-repeat;
    
    }

#status-alert {
  color:rgb(255, 149, 0);
  
  font-style: italic, bold;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: lato;
  // font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -auto;
}
