#top-btn-container {
  display: flex;
  justify-content: space-between;
  margin: 2vw;
  margin-bottom: 0;
  height: 5vw;
}

#top-btn-container button:first-child {
  margin-right: auto;
  border-radius: 50%;
  width: 4vw;
  height: 3.5vw;
  text-shadow: 1px 1px 0px #000;
  box-shadow: 0 7px 0px #083766;
}

#top-btn-container button:nth-child(3) {
  margin-left: 6vw;
}

#top-btn-container button:nth-child(2),
#top-btn-container button:nth-child(3) {
  border-radius: 50%;
  width: 4vw;
  height: 3.5vw;
  text-shadow: 1px 1px 0px #000;
  box-shadow: 0 7px 0px #083766;
}

#main-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-logo {
  // display: block;
  margin: 2vw;
  margin-top: 0;
  // align-content: center;
  width: 30vw;
  border-radius: 13px;
}

#user-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#user-icon {
  display: flex;
  // width: 27vw;
  height: 28vh;
  margin-bottom: 3vh;
  clip-path: polygon(50% 100%, 0% 5.5%, 100% 5.5%);
}

#form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 12vw;
  margin-right: 12vw;
}

#event-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.input-field {
  display: block;
  margin: 0 auto;
  align-items: center;
  width: 60vw;
  margin-bottom: 2vw;
  background-color: rgb(252, 253, 253);
  border-radius: 2rem;
  text-align: center;
}

#status-heading {
  margin: 3vh;
  margin-bottom: 0;
}

#status-buttons {
  display: flex;

  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.8vw;
  margin-bottom: 1.9vh;
  margin-left: 20vw;
  margin-right: 20vw;
}

#date-view {
  display: block;
  margin: 0 auto;
  width: 15vw;
  border-radius: 2rem;
  background-color: rgb(240, 248, 248);
  text-align: center;
}

// carousel {
//   display: flex;
//   flex-direction: row;
//   // margin: 0 auto;
//   height: 10vh;
//   width: 1vw;
// }

// .carousel-caption {
//   opacity: 0%;
// }

// .carousel-indicators {
//   opacity: 0%;
// }

// .carousel-item {

// }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#save-btn {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  align-items: center;
  width: 9vw;
  margin: 2vw;
}

@media screen and (max-width: 848px) {
  #main-logo {
    width: 50vw;
  }
  #user-icon {
    width: 40vw;
    height: 15vh;
  }
  #status-buttons {
    flex-direction: column;
    height: 20vh;
  }
  #pvt-btn,
  #pblc-btn,
  #save-btn,
  #date-view {
    width: 45vw;
  }  
}

@media screen and (max-width: 600px) {
}
